<div class="container-fluid">
  <div class="sectors col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
     <% @sectors.each do |sector| %>
      <div class="sector-image col-md-3 col-sm-12 col-xs-12 text-center">
        <div class="styled-div" style= "background: url(<%= sector.sector_photo.url(:thumb) %>)">
          <h3 class="sector-name"> <%= sector.name %></h3>
        </div>
      </div>
      <% end %>
  </div>
</div>
