.footer1 { background: #252525; padding: 70px 0 40px 0; font-size: 12px; color: #999; }
  .footer1 a { color: #ccc; }
    .footer1 a:hover {color: #fff; }
  .footer1 .widget { margin-bottom:30px; }
  .footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
  .footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
    .footer1 .entry-meta a { color: #333333; }
    .footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
  .follow-me-icons { font-size:26px; float: left;width: 100%;}
    .follow-me-icons i { float:left; margin:0 15px 0 0; }
 

 .footer1 .footer_menu{margin: 0px;padding: 0px;}
 .footer1 .footer_menu li{list-style: none;padding-bottom: 7px; text-align: left;}
 .footer1 .footer_menu a{font-size: 14px;text-transform: uppercase;color: #999;font-weight: 200;}
 .footer1 .footer_menu a:hover{font-weight: normal;color: #CCCBCB;text-decoration: none;}
 .footer_address p{margin-bottom: 4px; text-align: left;}
 .footer_address{text-align: left;}

 .footer1 .copyright{margin: 30px 30px 0 0;}
 .follow-me-icons.header_social a {color:#FFFFFF!important;}
 .follow-me-icons.header_social a i{color:#FFFFFF!important;}

img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
#social .wrapper { width:340px; margin:0 auto; }
