// Navigation
.navbar {
  height: 60px;
  width: 106px;
}

.navbar, .navmenu {
  background: transparentize($black, $amount);
  color: $black;
}


button.navbar-toggle{
  border: none;
  padding-top: 15px;
  float:left;
}

button.navbar-toggle:hover {
  background: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default {
  border: none;
  }

.navbar-default .navbar-toggle .icon-bar  {
  background-color: $white;
}

.navmenu{
  background: $black;
}

@media (min-width: 0) {
.navbar-toggle {
    display: block;/* force showing the toggle */
  }
}

.fadeInBlock {
    opacity:0;
}


//banner

.banner{

  position:relative;
  width: 100%;
  overflow:hidden;

  .banner-body{
    width: 100%;
    min-height:610px;
    overflow:hidden;

    .banner-content{
      width: 100%;
      /*background:#181015 url(/miami2.jpg) no-repeat; */
      background-size: cover;
      text-align: center;
      color:white;
      font-family:"Open sans", Helvetica, Arial;
      font-weight:300;
      height:100vh;
      min-height:610px;
    }



  }

  .logo-information{
    position:absolute;
    top: 0px;
    width:100%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

    .slider_leftpart{
      background-color:rgba(0,0,0,0.5);
      padding-top:80px;
      padding-bottom:80px;
      color: #E1DFDF;
      height: 100vh;
      min-height:610px;
    }

    @media (min-width: $screen-md-min){

      h2{
        font-size: 53px;
      }

      h4{
        font-size: 35px;
      }

      p{
        font-size: 28px;
      }
    }


    .logo_lbdr{

      margin-top: 40px;

      img{
        width: 270px;
      }

      margin-bottom: 30px;

      @media (min-width: $screen-md-min){

        margin-top: -20px;
        img{
          width: 650px;
        }
      }
    }

    .btn{
      margin-bottom:10px;

      &.btn-lg{
        padding: 15px 65px;
        font-size: 14px;
        @media (min-width: $screen-md-min){
          font-size: 22px;
        }
        font-weight: bold;
        border-radius: 0;
      }

      &.btn-default{
        text-shadow: none;
        background:transparent;
        color:rgba(255,255,255,.5);
        -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
        -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
        box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5);
        background: transparent;

        &:hover, &:focus{
          color:rgba(255,255,255,.8);
          -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
          -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
          box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8);
          background: transparent;
        }

        &:active, &.active{
          color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff;
          -moz-box-shadow:inset 0px 0px 0px 3px #fff;
          box-shadow:inset 0px 0px 0px 3px #fff;
          background: transparent;
        }
      }
    }
  }

  #menu-wrapper {

    display: none;

    @media (min-width: $screen-md-min){
      display: block;
    }

    position:absolute;
    right: 30px;
    top: 90px;
    color: #FFF;

    a{
      color:#FFF;
      display:inline;
      padding:0px;

      &:hover{
        background: none;
      }
    }

    .cell{
      background-color: rgba(0, 0, 0, 0.5);
      border: 2px solid #fff;
      border-radius: 24px;
      clear: both;
      float: right;
      margin: 5px 0;
      padding: 6px 8px;
      cursor:pointer;


      span {
        float: left;
        max-width: 0px;
        overflow: hidden;
        transition: 1s linear;
        text-transform: uppercase;
        margin-top: 7px;
        height: 22px;
      }

      &:hover{
        span{
          max-width: 250px;
          padding: 0px 20px;
        }
      }

      i{
        font-size: 24px;
        width: 28px;
        height: 28px;
        text-align: center;
        position:relative;
        padding-top: 6px;
        verticall-align: middle;
      }
    }
  }

}

.no-padding{padding: 0px!important;}

.carousel-caption.mylink{

  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  top:0!important;
  padding: 30%;

 }
  .carousel-caption.mylink.twoline{
    padding: 26%;
  }

 .carousel-caption.mylink h3,
  .carousel-caption.mylink h3 a{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  margin:0px;
 }

.gallery_menu a:hover .carousel-caption.mylink{
  background: rgba(0,0,0,0) !important;
}
 .section_area.with_padding{
  padding-top:80px;
  padding-bottom: 100px;
 }
 .boldtext {
    font-weight: bold;
}

.section_area{
  clear: both;
}

.nav-absolute{
  position: absolute !important;
  top:20px;
  left: 20px;
  background: transparent !important;
}

#myNavmenu {
  font-size: 2em;

  .nav{
    li{
      display: block;
      margin: 0;
      padding: 0;
      border-top: 1px solid #272727;
      position: relative;

      a{
        padding: 1.2em 0 1em 20px;

        display: block;
        padding: 1em 0 .8em 20px;
        position: relative;
        z-index: 5;
        text-align: left;
        color: #aaa;
        text-decoration: none;
        font-weight: 200!important;
        font-family: din-light,sans-serif;
        font-family: "Helvetica Neue",helvetica,sans-serif;
        text-transform: uppercase;
        font-size: 14px;

        &:hover{
          background: #333;
        }
      }
    }
  }

  .navmenu-nav{
    margin-top: 30px;
  }

  .sidebar-logo {

    img{
      width: 65%;
      margin: 16% 16% 0 16%;
    }

    @media (min-width: $screen-md-min){

    }
  }

  .follow-me-icons{

    padding: 19px 0 0 18px;
    font-size: 22px;

    .social-icons-content{

      display: inline-block;

      a, i{
        color:#FFFFFF!important;
      }

      i{
        float:left;
        margin:0 15px 0 0;
      }
    }


  }
}

//hamburger

#nav-icon1 {
  width: 42px;
  height: 30px;
  position: relative;
  margin: 20px 0 0 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline:none;

  &.nav-in{
    margin: 20px 0 0 30px;
  }
}

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 10px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 20px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

.img-responsive{
  width: 100%;
}

.text-center{
  h3{
    font-size: 24px;
  }
  h5{
    font-weight: bold;
  }
  p{
    color: #777777;
  }
}


.show {
  opacity: 0;
}

.hide {
  opacity: 1;
}

.sector_thumb{
  overflow: hidden;
}

.clear_fix_site{
  clear:both;
}