/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "variables.css.scss";
 @import "brands.css.scss";
 @import "pages.css.scss";
 @import "posts.css.scss";
 @import "sectors.css.scss";

 @import "_footer.scss";
 @import "_header.scss";

// Global Styles
body {
  font-family: 'Alegreya Sans SC', sans-serif;
}

form {
  padding-top: 100px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.body-padding {
  padding-top: 60px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.btn-default {
  background-color: $black;
  color: $white;
  margin: 20px auto;
}

.col-md-4 {
    text-align: center;
}


// contact

.contact-form {
  padding: 150px 0 100px 0;
}

.contact-countries {
  padding-bottom: 100px;
}

// Footer
.footer {
  color: $white;
  background-color: $black;
  margin: 0;
  a {
    color: $white;
  }
  ul {
    text-align: center;
  }
  .footer-links {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .fotorama {
      min-height: 100%;
  }

  .lbdr-logo-overlay img {
    max-width: 25%;
  }

  .brand-name-overlay {
    font-size: 2em;
    padding: 30px 15px;
    top: 50px;
  }
}
