/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "variables.css.scss";
 @import "brands.css.scss";
 @import "pages.css.scss";
 @import "posts.css.scss";
 @import "sectors.css.scss";



 $black: #212121;
 $gray: #757575;
 $white: #fafafa;
 $amount: .8;


// Global Styles
body {
  font-family: 'Alegreya Sans SC', sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.btn-default {
  background-color: $black;
  color: $white;
  margin: 20px auto;
}

.col-md-4 {
    text-align: center;
}

// Navigation
.navbar {
  height: 60px;
}

.navbar, .navmenu {
  background: transparentize($black, $amount);;
  color: $black;
  }

button.navbar-toggle{
  border: none;
  padding-top: 10px;
}

ul.nav.navmenu-nav {
  padding-top: 50px;
}

.navbar-default {
  border: none;
  }

#myNavmenu {
  font-size: 2em;
}

.navbar-brand, .sidebar-logo {
  position: absolute;
  left: 50%;
  margin-left: -66px !important;  /* 50% of your logo width */
  display: block;
  padding-top: 5px;

  img {
    max-height: 50px;
  }
}

.navbar-default .navbar-toggle .icon-bar  {
  background-color: $white;
}

.navmenu{
  background: $black;
}

@media (min-width: 0) {
.navbar-toggle {
    display: block;/* force showing the toggle */
  }
}

// Footer
.footer {
  color: $white;
  background-color: $black;
  margin: 0;
  a {
    color: $white;
  }
  ul {
    text-align: center
  }
  .footer-links {
    padding: 20px;
  }
}
