// Place all the styles related to the Brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Brands Show Page
img.brand-photo-big {
   width: 100%;
   height: auto;
}

.brand-photo-overlay {
  position:absolute;
  left:0;
  background: rgba(255,255,255,.5);

}

.brand-name-overlay {
  color: $white;
  font-size: 5em;
  width: 50%;
  position: absolute;
  z-index: 2;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  border: 2px solid $white;
  padding: 85px 35px;
}


img.brand-logo-thumb {
  // border: 1px solid $black;
  padding: 10px;
  margin: 30px 5px;
}

.brand-tabs {


  .slick-center{
    opacity: 1 !important;
    transform: scale(1.08);
    

    a{
      color: white !important;
    }
  }


  .col-8{
    position: relative;
    z-index: 1;
    text-align: center;

    transition: all 300ms ease;
    opacity: 0.5;

    a{
      background-color: #ededed;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      display: inline-block;
      text-align: center;
      text-decoration: none;
      outline: none;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 20px 0;
      width: 80%;
      color: #000000;

      border: solid 1px #ededed;

      color: white;

      padding: 30px 0;

      @media (min-width: $screen-md-min){
        padding: 50px 0;
      }

      span{
        
        background-color: rgba(0, 0, 0, 0.5);
        width: 80%;
        border: 2px solid white;
        text-transform: uppercase;

        display: inline-flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        height: 60px;
        padding: 19px 0;

        @media (min-width: $screen-md-min){
          height: 60px;
        }
      }

      &:hover{

      }
    }

    &.active{
      a{
        
      }
    }
  }

  .slick-prev, .slick-next{
    &:before{
      font-size: 30px;
      color: black;
    }
  }

  .slick-prev{
    left: 7px;
  }

  .slick-next{
    right: 18px;
  }
}

.brand-tab{
  display: none;
}




.brand-show {
  display: flex;
  align-self: center;
}

.container-fluid{
  h1{
    color: #129bc1;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 25px;

    @media (min-width: $screen-md-min){
      font-size: 40px;
    }

  }
}

.brand-banner{
  
  .banner-body{
    min-height: inherit !important;
  }
  
  .slider_leftpart{
    height: 70vh !important;
    min-height: inherit !important;
  }

  .banner-content{
    height: 70vh !important;
    min-height: inherit !important; 
  }
}