// Place all the styles related to the Brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Brands Show Page
img.brand-photo-big {
  position:relative;
  z-index: -1;
  width: 100%;
}

.brand-name-overlay {
  color: $white;
  background: rgba(33, 33, 33, 0.8);
  position: absolute;
  z-index: 1;
  top: 100px;
  display: flex;
  align-self: center;
}

img.brand-logo-thumb {
  border: 1px solid $black;
  padding: 10px;
  margin: 30px 5px;
}

.brand-tabs h4 {
  padding: 10px 0;
}

.brand-show {
  display: flex;
  align-self: center;
}
