// Place all the styles related to the Investors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.investors{
    font-family: "Helvetica Neue",helvetica,sans-serif;
    padding:0px;
    margin:0px;
    color: #1c1c1c;
    
    .investor_link{
        margin-top: 60px;
    }
    .investor_link, .investors_link a{
        font-size: 15px;
        margin-bottom: 20px;
        list-style: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #5590cf;
        letter-spacing: 0.25px;
        font-weight: bold;
    }

    .investor_text{
        padding-top: 10px;
        height:inherit;

        @media (min-width: $screen-md-min){
            min-height:100vh;
        }

        h2{
            font-size: 2.65em;
            font-family: 'montserratbold', sans-serif;
            text-transform: uppercase;
            line-height: 1.2em;
            margin-top: 0;
            margin-bottom: 0.55em;
            letter-spacing: 0.015em;
            font-weight: bold;
        }

        .subtitle{
            font-size: 1.3em;
            font-family: 'montserratregular', sans-serif;
            margin-top: 0;
            line-height: 1.5em;
            margin-bottom: 1.7em;
        }
    }

    .investor-image{
        background-image:url('/miami2.jpg');
        width:100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        height: 300px;
        
        @media (min-width: $screen-md-min){
            height:100vh;
        }
    }


    .panel-default{
        border: 0px;
    }
    .panel .panel-default{
        border-radius: 0px !important;
    }

    .panel-body {
        padding: 10px 0 10px;

        p{
            color: #606060;
            line-height: 1.6;
            font-size: 16px;
            font-weight: 300;
        }
    }
    .panel-heading{
        padding: 15px 45px 15px 15px;

        cursor: pointer;
        font-size: 0.85em;
        letter-spacing: 0.25px;
        text-transform: uppercase;
        position: relative;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;

        background: #5590cf;
        color: #fff;
        border: 1px solid #5590cf;

        border-radius: 0px;
        font-weight: bold;

         &:after {
            content: "";
            display: block;
            background: url(/icon-s28.png);
            width: 10px;
            height: 18px;
            position: absolute;
            top: 50%;
            right: 15px;
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
            
            -webkit-background-size: 10px auto;
            background-size: 10px auto;


            -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
        }

        &.collapsed:after {

            -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
        }

        

        &.collapsed{
            background: #e9eff5;
            color: #606060;
            border: 1px solid #d8dfe5;
            font-weight: bold;
        }
    }
}