// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//  Welcome Page
.background-welcome {
  background-image: image-url('jumbotron.jpg');
  background-size: cover;
  max-width: 100%;
  height: 650px;
}

// Group Page
.background-group {
  background-image: image-url('jumbotron.jpg');
  background-size: cover;
  max-width: 100%;
  height: 450px;
}

.pills-center {
  text-align: center;
  ul.nav {
    display: inline-block;
    li {
      display: inline;
      a {
        float: left;
        background: none;
        color: #212121;
      }
      a:hover {
        background:none;
        text-decoration: underline;
      }
    }
  }
}

// Investors Page


// Contact Page
