// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//  Welcome Page
// .background-welcome {
//   background-image: image-url('jumbotron.jpg');
//   background-size: cover;
//   max-width: 100%;
//   height: 650px;
// }

// .welcome-slider {
//   position: absolute;
//   margin-left: auto;
//   margin-right: auto;
//   left: 0;
//   right: 0;
//   height:100%;
//   z-index: -1;
// }

.fotorama {
  position: relative;
  width: 100%;
  min-height: 100%;
}

img.fotorama__img {
  top:0 !important;
}

.lbdr-logo-overlay {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100px;
  // margin: 100px auto;
}

.lbdr-logo-overlay img {
  max-width: 100%;
}

// Group Page

.group-info {
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #6b6a6a;

  @media (min-width: $screen-md-min){
    font-size: 1.75em;
  }
    
  h2{
    font-size: 22px;
    
    @media (min-width: $screen-md-min){
      font-size: 30px;  
    }
  }

  .triangle{
    background: url("/triangle.jpg");
    width: 459px;
    height: 229px;
    position: absolute;
    left: 245px;
    top: 0px;

    display: none;

    @media (min-width: $screen-md-min){
      display: block;
    }
  }

  
  ul.nav {
    display: inline-block;
    

    @media (min-width: $screen-md-min){
      height: 240px;
    }

    li {

      display: inline-block;

      @media (min-width: $screen-md-min){
        margin: 52px 0px;
        width: 250px;
        float: left;
        text-align: center;
      }

      // text-decoration: underline;
      a {

        color: #6b6a6a;
        font-size: 25px;
        text-transform: uppercase;

        padding: 10px 6px;

        @media (min-width: $screen-md-min){
          padding: 10px 15px;
          font-size: 35px;
        }

        &:hover, &:focus{
          background: transparent;
        }
      }

      &.active{
        a{
            border-bottom: 0px;
            font-weight: bold;
            color: #0096be;
            background: transparent;
            font-size: 25px;

            @media (min-width: $screen-md-min){
              font-size: 40px;
            }
        }
      }

    }
  }
}

.pills-center {
  position: relative;
  text-align: center;
  font-size: 1.75em;

  ul.nav {
    display: inline-block;
    li {
      display: inline;
      
      a {
          border: solid 1px #555555;
          text-transform: uppercase;
          color: #555555;
          border-radius: 29px;
          margin: 30px 0 0 0;
          font-weight: 300;
          letter-spacing: 2px;
          padding: 6px 33px 6px 21px;
          font-size: 17px;
          position: relative;

        @media (min-width: $screen-md-min){
          padding: 6px 71px 6px 47px;
          font-size: 27px;

        }

        &:hover , &:focus {
          text-decoration: none;

          .arrow_board {
            animation: arrow_go_mobile 2s infinite ease;
            -webkit-animation: arrow_go_mobile 2s infinite ease;
            -moz-animation: arrow_go_mobile 2s infinite ease;
            -o-animation: arrow_go_mobile 2s infinite ease;
          }

          @media (min-width: $screen-md-min){
            .arrow_board {
              animation: arrow_go 2s infinite ease;
              -webkit-animation: arrow_go 2s infinite ease;
              -moz-animation: arrow_go 2s infinite ease;
              -o-animation: arrow_go 2s infinite ease;
            }
          }
        }


        .arrow_board {
          position: absolute;
          z-index: 200;
          text-align: center;
          top: 5px;
          right: 10px;
        }

        @media (min-width: $screen-md-min){
          .arrow_board {
            position: absolute;
            z-index: 200;
            text-align: center;
            top: 5px;
            right: 30px;
          }
        }

        @keyframes arrow_go {
           20% { right: 15px; }
           40% { right: 30px; }
           60% { right: 15px; }
           80% { right: 30px; }
        }
        @-webkit-keyframes arrow_go {
           20% { right: 15px; }
           40% { right: 30px; }
           60% { right: 15px; }
           80% { right: 30px; }
        }
        @-moz-keyframes arrow_go {
           20% { right: 15px; }
           40% { right: 30px; }
           60% { right: 15px; }
           80% { right: 30px; }
        }
        @-o-keyframes arrow_go {
           20% { right: 15px; }
           40% { right: 30px; }
           60% { right: 15px; }
           80% { right: 30px; }
        }

        @keyframes arrow_go_mobile {
           20% { right: 2px; }
           40% { right: 10px; }
           60% { right: 2px; }
           80% { right: 10px; }
        }
        @-webkit-keyframes arrow_go_mobile {
           20% { right: 2px; }
           40% { right: 10px; }
           60% { right: 2px; }
           80% { right: 10px; }
        }
        @-moz-keyframes arrow_go_mobile {
           20% { right: 2px; }
           40% { right: 10px; }
           60% { right: 2px; }
           80% { right: 10px; }
        }
        @-o-keyframes arrow_go_mobile {
           20% { right: 2px; }
           40% { right: 10px; }
           60% { right: 2px; }
           80% { right: 10px; }
        }
      }

      &.active a {
        display: none;
      }
    }
  }
}

.tab-content {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
}

li.active a {
  border-bottom: 2px solid $black;
}

.about-lbdr {
  padding-top: 80px;
  // background-color: $black;
}

.investor-section {
  padding: 100px 0;
}

.governance-section {
  background-color: #ededed;
  margin-top: 40px;
  clear: both;
}

#executive-committee{
  
}

.governance-description {
  clear:both;
  color: #929191;
  font-size: 16px;

  @media (min-width: $screen-md-min){
    padding: 0 60px;
    font-size:19px;
  }

  h2{
    color: #129bc1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin: 40px 0 30px 0;
    letter-spacing: 1px;

    @media (min-width: $screen-md-min){
      font-size: 36px;
    }
  }
}

.people{
  color: #929191;

  margin: 50px 0px;

  .group-image{
    width: 145px;
    height: 145px;
    border-radius: 100px;
    display: inline-block;
    background-size: cover;
  }
  h4{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p{
    font-size: 18px;
    font-weight: 300;
  }
}



// Contact Page


.arrow {
  position: absolute;
  z-index: 200;
  text-align: center;
  top: 90%;
  width: 100%;
  animation: arrow_play 2s infinite ease;
  -webkit-animation: arrow_play 2s infinite ease;
  -moz-animation: arrow_play 2s infinite ease;
  -o-animation: arrow_play 2s infinite ease;

}

.arrow-in{
  background:url("/arrow.png");
  width:31px;
  height:17px;
  display:inline-block;    
}

@keyframes arrow_play {
   20% { top: 85%; }
   40% { top: 90%; }
   60% { top: 85%; }
   80% { top: 90%; }
}
@-webkit-keyframes arrow_play {
   20% { top: 85%; }
   40% { top: 90%; }
   60% { top: 85%; }
   80% { top: 90%; }
}
@-moz-keyframes arrow_play {
   20% { top: 85%; }
   40% { top: 90%; }
   60% { top: 85%; }
   80% { top: 90%; }
}
@-o-keyframes arrow_play {
   20% { top: 85%; }
   40% { top: 90%; }
   60% { top: 85%; }
   80% { top: 90%; }
}