// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
  margin: 0;
}

.post-wrapper {
  padding: 50px 20px;
  background: #eee;
  margin: 50px auto;
}

.post-show-wrapper {
  background: #eee;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 40px;
}

.post-content {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  line-height: 200%;
  margin-top: 60px;
}

.blog-header {
  padding: 50px 0;
}

.news{
  .collapsing+a:before { 
    content:'Read Less';
  }
  .in.collapse+a:before { 
      content:'Read Less';
  }
  .collapse+a:before { 
      content:'Read More'; 
  }
}