// Place all the styles related to the Sectors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Sector's show Page
img.sector-photo-big {
  width: 100%;
  height: auto;
}

.description {
  text-align: justify;
  padding: 50px 10px;
}

.list-brands-by-sector {
  // padding-top: 50px;
}

li a {
  color: $black;
}

li a:hover , a:focus {
  color: inherit;
  text-decoration: none;
}

li.active a {
  border-bottom: 2px solid $black;
}


// Sector Index Partial
.sectors {
  margin-top: 80px;
  margin-bottom: 80px;

  font-family: 'Alegreya Sans', sans-serif;

  h1{
    color: #129bc1;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 25px;

    @media (min-width: $screen-md-min){
      font-size: 40px;
    }
  }

  a{

    color:#929191;
    font-size: 19px;
    text-transform: none;

    .sector-image {
      padding: inherit 0;
      -webkit-box-shadow: -3px 3px 13px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: -3px 3px 13px -4px rgba(0,0,0,0.75);
      box-shadow: -3px 3px 13px -4px rgba(0,0,0,0.75);
    }

    &:hover{
      .sector-name {
        opacity: .4;
      }
    }

    .sector-name {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: $black;
      opacity: .8;
      color: $white;
      text-align: center;
      height: 120px;
    }

    p{
      margin: 20px 0 0 0;
      font-weight: 300;
    }
  }
}
